@charset "utf-8";
.basic-N24 {
  position: relative;
  padding-top: 8rem;
  padding-bottom: 8rem;
  overflow: hidden;
}

.basic-N24 .contents-inner {
  width: 100%;
  padding: 10rem 4rem;
  border-radius: 2rem;
  background: #f7f7fb;
}

.basic-N24 .textset {
  margin-bottom: 4rem;
  text-align: center;
}

.basic-N24 .form-box {
  max-width: 96rem;
  margin: 0 auto;
}

.basic-N24 .form-box+.form-box {
  margin-top: 2.4rem;
}

.basic-N24 .form-tit {
  margin-bottom: 1.2rem;
}

.basic-N24 .form-btn {
  margin-top: 4rem;
  text-align: center;
}

.basic-N24 .form-btn .btnset {
  min-width: 18rem;
  padding: 0 2rem;
}

@media (max-width: 992px) {
  .basic-N24 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .basic-N24 .contents-inner {
    padding: 8rem 2.4rem;
  }

  .basic-N24 .form-btn .btnset {
    min-width: 16rem;
    padding: 0 1.6rem;
  }
}


/* basic-N2 */
.basic-N2 {
    position: sticky;
    top: 0;
    z-index: 200;
    width: 100%;
    transition: 0.3s;
    background: var(--white)
}

.basic-N2 .header-container {
    display: flex;
    justify-content: space-between;
    min-height: 8rem
}

.basic-N2 .header-left {
    display: flex;
    align-items: center
}

.basic-N2 .header-title a {
    height: 3.3rem
}

.basic-N2 .header-title img {
    height: 100%;
    object-fit: contain
}

.basic-N2 .header-right {
    display: flex;
    align-items: center;
    gap: 2rem
}

.basic-N2 .header-right button {
    max-width: 3.2rem;
    background: none;
    border: none
}

.basic-N2 .header-right button img {
    width: auto;
    max-height: 100%;
    object-fit: cover;
    vertical-align: top
}

.basic-N2 .header-lang {
    position: relative
}

.basic-N2 .header-langbtn {
    position: relative;
    border: none;
    background: none
}

.basic-N2 .header-langlist {
    position: absolute;
    top: 100%;
    left: -50%;
    z-index: 200;
    background-color: #111111
}

.basic-N2 .header-lang:hover .header-langitem {
    max-height: 6.8rem
}

.basic-N2 .header-langitem {
    max-height: 0;
    transition: all 0.5s;
    overflow: hidden
}

.basic-N2 .header-langitem a {
    padding: 0.6rem 1.6rem;
    color: var(--white);
    opacity: 0.7
}

.basic-N2 .header-langitem a:hover {
    opacity: 1
}

.basic-N2 .header-lang:hover .header-langbtn::after {
    transform: translateY(-50%) rotate(180deg)
}

.basic-N2 .header-utils>ul {
    display: flex;
    align-items: center
}

.basic-N2 .header-utils>ul>li {
    margin-left: 1.2rem
}

.basic-N2 .header-utils>ul>li>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    vertical-align: top
}

.basic-N2 .header-utils {
    display: flex;
    align-items: center
}

.basic-N2 .header-utils .btn-allmenu {
    display: flex;
    flex-direction: column;
    gap: 0.6rem
}

.basic-N2 .header-utils .btn-allmenu:hover .ico-hamburger:nth-child(2) {
    width: 2.4rem
}

.basic-N2 .header-utils .btn-allmenu .ico-hamburger,
.basic-N2 .btn-momenu .ico-hamburger {
    width: 2.4rem;
    height: 0.2rem;
    background-color: var(--black);
    border-radius: 1rem;
    transition: width 0.3s, transform 0.3s, opacity 0.3s;
    will-change: width, transform, opacity
}

.basic-N2 .header-utils .btn-allmenu .ico-hamburger:nth-child(even),
.basic-N2 .btn-momenu .ico-hamburger:nth-child(2) {
    width: 1.4rem
}

.basic-N2 .header-gnblist {
    display: flex
}

.basic-N2 .header-gnbitem {
    position: relative
}

.basic-N2 .header-gnbitem:hover .header-sublist {
    min-height: auto;
    opacity: 1;
    overflow: hidden;
    pointer-events: auto
}

.basic-N2 .header-gnbitem:hover .header-gnblink span::after,
.basic-N2 .header-gnbitem.item-active .header-gnblink span::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--primary);
    transform: scaleX(1)
}

.basic-N2 .header-gnblink {
    padding: 2.4rem 3rem;
    line-height: 2.6rem;
    font-weight: 500;
    text-align: center;
    white-space: nowrap
}

.basic-N2 .header-gnbitem:last-child .header-gnblink {
    padding-right: 0
}

.basic-N2 .header-gnblink span {
    position: relative
}

.basic-N2 .header-gnblink span::after {
    content: "";
    height: 0.2rem;
    width: 100%;
    transition: 0.3s;
    transform: scaleX(0)
}

.basic-N2 .header-sublist {
    min-height: 0;
    position: absolute;
    top: 100%;
    transition: opacity 0.3s;
    opacity: 0;
    overflow: hidden;
    pointer-events: none
}

.basic-N2 .header-subitem {
    width: 14rem;
    background: var(--white);
    overflow: hidden
}

.basic-N2 .header-sublink {
    width: 100%;
    padding: 1rem 2rem;
    transition: color 0.2s, background 0.2s;
    will-change: color, background
}

.basic-N2 .header-sublink:hover {
    background: transparent;
    color: var(--black)
}

.basic-N2 .btn-momenu .ico-hamburger {
    width: 2.4rem;
    height: 0.2rem;
    background-color: #111;
    border-radius: 1rem;
    transition: width 0.3s, transform 0.3s, opacity 0.3s;
    will-change: width, transform, opacity
}

.basic-N2 .btn-momenu {
    display: none
}

.basic-N2 .header-fullmenu {
    position: fixed;
    z-index: 99999;
    padding: 0 2.4rem;
    background-color: var(--black);
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    overflow: hidden
}

.basic-N2 .header-fullmenu.fullmenu-right {
    width: 0;
    height: 100%;
    top: 0;
    right: 0
}

.basic-N2 .header-fullmenu.fullmenu-left {
    width: 0;
    height: 100%;
    top: 0;
    left: 0
}

.basic-N2 .header-fullmenu.fullmenu-top {
    top: 0;
    left: 0;
    width: 100%;
    height: 0
}

.basic-N2 .header-fullmenu.fullmenu-bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0
}

.basic-N2 .header-fullmenu.fullmenu-active {
    width: 100%;
    height: 100vh;
    opacity: 1;
    visibility: visible
}

.basic-N2 .fullmenu-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    max-width: 128rem;
    margin: 0 auto
}

.basic-N2 .fullmenu-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem
}

.basic-N2 .fullmenu-title {
    margin-bottom: 0
}

.basic-N2 .fullmenu-title-link {
    width: 13.6rem;
    height: 4.3rem
}

.basic-N2 .fullmenu-title img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.basic-N2 .fullmenu-gnblist {
    display: flex;
    justify-content: center
}

.basic-N2 .fullmenu-gnbitem {
    width: 20%
}

.basic-N2 .fullmenu-gnbitem+.fullmenu-gnbitem {
    margin-left: 4rem
}

.basic-N2 .fullmenu-gnblink {
    position: relative;
    width: 100%;
    padding-bottom: 4rem;
    color: var(--white);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)
}

.basic-N2 .fullmenu-gnblink::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 0;
    height: 0.1rem;
    background-color: var(--white) ff;
    transition: 0.2s
}

.basic-N2 .fullmenu-gnblink.on::after {
    width: 18rem
}

.basic-N2 .fullmenu-sublist {
    padding-top: 4rem
}

.basic-N2 .fullmenu-subitem+.fullmenu-subitem {
    padding-top: 0.8rem
}

.basic-N2 .fullmenu-sublink {
    color: #a2a2a2;
    position: relative;
    padding-bottom: 5px;
    transition: 0.3s
}

.basic-N2 .fullmenu-sublink::before {
    content: "";
    width: 0;
    height: 1px;
    background-color: var(--white);
    position: absolute;
    top: 100%;
    right: 0;
    transition: width 0.7s cubic-bezier(0.22, 0.61, 0.36, 1)
}

.basic-N2 .fullmenu-sublink:hover {
    color: var(--white)
}

.basic-N2 .fullmenu-sublink:hover::before {
    width: 100%;
    right: auto;
    left: 0
}

.basic-N2 .fullmenu-close {
    position: fixed;
    right: 8rem;
    top: 2.4rem;
    width: 3.2rem;
    height: 3.2rem;
    background-color: transparent;
    border: none
}

.basic-N2 .fullmenu-close img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

@media (max-width: 1200px) {
    .basic-N2 .header-container {
        align-items: center
    }
}

@media (max-width: 992px) {
    .basic-N2 {
        padding-top: 0;
        padding-bottom: 0
    }

    .basic-N2 .header-title a {
        width: 12rem
    }

    .basic-N2.momenu-active .header-right {
        right: 0;
        opacity: 1;
        visibility: visible
    }

    .basic-N2.block-active .header-center {
        pointer-events: auto
    }

    .basic-N2.block-active .header-title {
        height: 6rem;
        display: flex;
        align-items: center
    }

    .basic-N2.block-active .header-gnb {
        height: calc(100vh - 6rem);
        padding-bottom: 19rem;
        overflow-y: auto
    }

    .basic-N2.block-active .header-gnblist {
        display: block;
        opacity: 1;
        visibility: visible
    }

    .basic-N2 .header-gnbitem:has(.header-subitem) .header-gnblink::after {
        content: "";
        display: flex;
        width: 1.6rem;
        height: 1.6rem;
        background-image: url(../icons/ico_downarrow_black.svg);
        background-repeat: no-repeat;
        background-position: center right;
        background-size: cover;
        transition: transform 0.3s;
        will-change: transform
    }

    .basic-N2.block-active .header-gnblink {
        align-items: center;
        justify-content: space-between
    }

    .basic-N2.block-active .header-gnbitem.item-active .header-gnblink::after {
        content: "";
        transform: rotate(180deg)
    }

    .basic-N2.block-active .btn-momenu .ico-hamburger:nth-child(1) {
        transform: translateY(0.8rem) rotate(45deg)
    }

    .basic-N2.block-active .btn-momenu .ico-hamburger:nth-child(3) {
        transform: translateY(-0.8rem) rotate(-45deg)
    }

    .basic-N2.block-active .btn-momenu .ico-hamburger:nth-child(2) {
        opacity: 0;
        visibility: hidden
    }

    .basic-N2 .header-container {
        min-height: 6rem
    }

    .basic-N2 .header-container::before {
        content: none
    }

    .basic-N2 .header-title-link {
        height: 2.6rem
    }

    .basic-N2 .header-gnb {
        width: 100%;
        height: 0;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: var(--white);
        overflow: hidden;
        transition: height 0.3s;
        z-index: 9
    }

    .basic-N2 .header-gnblist {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s 0.1s
    }

    .basic-N2 .header-gnblink {
        display: flex;
        align-items: flex-end;
        width: 100%;
        padding: 1.4rem 2rem;
        text-align: left
    }

    .basic-N2 .header-gnbitem:hover,
    .basic-N2 .header-gnbitem.item-active {
        background-color: transparent
    }

    .basic-N2 .header-gnbitem:hover .header-gnblink span {
        border: none
    }

    .basic-N2 .header-gnbitem:hover .header-gnblink span::after,
    .basic-N2 .header-gnbitem.item-active .header-gnblink span::after {
        content: none
    }

    .basic-N2 .header-sublist {
        display: none;
        position: relative;
        opacity: 1;
        padding: 1.8rem 2rem 2rem 2rem
    }

    .basic-N2 .header-subitem {
        width: 100%;
        background: transparent
    }

    .basic-N2 .header-subitem+.header-subitem {
        padding-top: 0.8rem
    }

    .basic-N2 .header-sublink {
        padding: 0;
        color: var(--text-color3)
    }

    .basic-N2 .header-sublink:active {
        color: #111111
    }

    .basic-N2 .header-right button,
    .basic-N2 .header-utils .member a {
        width: 2.8rem;
        height: 2.8rem
    }

    .basic-N2 .header-lang:hover .header-langitem {
        max-height: 0
    }

    .basic-N2 .header-lang.lang-active .header-langitem {
        max-height: 6.8rem
    }

    .basic-N2 .header-lang:hover .header-langbtn::after {
        transform: translateY(-50%) rotate(0)
    }

    .basic-N2 .header-lang.lang-active .header-langbtn::after {
        transform: translateY(-50%) rotate(180deg)
    }

    .basic-N2 .header-utils>ul>li {
        margin-left: 0.6rem
    }

    .basic-N2 .header-utils .utils-btn {
        width: 2.8rem;
        height: 2.8rem
    }

    .basic-N2 .header-utils .btn-allmenu {
        display: none
    }

    .basic-N2 .btn-momenu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.6rem;
        margin-left: 0.6rem
    }

    .basic-N2 .btn-momenu .ico-hamburger {
        width: 2rem
    }
}
/* basic-N29 */
.basic-N29 {
    position: relative;
    padding-top: 8rem;
    padding-bottom: 8rem;
    overflow: hidden
}

.basic-N29 .textset .textset-subtit {
    margin-top: 6rem
}

.down-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
    text-align: center;
    width: 100%
}

.down-arrow img {
    width: 7vw;
    max-width: 100px;
    height: auto;
    animation: bounce 1.5s infinite ease-in-out
}

0%,
100% {
    transform: translateY(0)
}

50% {
    transform: translateY(10px)
}

.basic-N29 .textset .textset-desc {
    margin-top: 2rem;
    color: var(--text-color3)
}

@media (max-width: 992px) {
    .basic-N29 {
        padding-top: 5rem;
        padding-bottom: 5rem
    }

    .basic-N29 .textset .textset-subtit {
        margin-top: 4rem
    }
}
/* basic-N29 [ofm75YP075] */
.basic-N29[id='ofm75YP075'] .click.click {
    margin-top: 2rem;
    color: var(--text-color3);
    text-align: center
}

@keyframes bounce {}
/* basic-N33 */
.basic-N33 {
    position: relative;
    padding-top: 8rem;
    padding-bottom: 8rem;
    overflow: hidden
}

.basic-N33 .cardset .cardset-inner {
    position: relative
}

.basic-N33 .cardset .cardset-figure {
    height: 60rem;
    border-radius: 2rem;
    overflow: hidden;
    background-color: #ECECEC
}

.basic-N33 .cardset+.cardset .cardset-figure {
    height: 52rem
}

.basic-N33 .cardset .cardset-figure+.cardset-body {
    margin-top: 0
}

.basic-N33 .cardset .cardset-figure img {
    width: 100%;
    height: 100%;
    object-fit: contain
}

.basic-N33 .cardset .cardset-body {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 3.2rem;
    background-color: transparent
}

.basic-N33 .cardset .cardset-tit {
    color: var(--white);
    background: rgba(50, 50, 50, 0.6);
    padding: 1rem 2rem;
    border-radius: 0.4rem;
    display: inline-block
}

.basic-N33 .cardset .btnset {
    flex-shrink: 0;
    min-width: auto;
    width: 4.8rem;
    height: 4.8rem;
    padding: 0;
    border-radius: 0.6rem;
    background-color: rgba(var(--white-rgb), 0.1);
    border: 0;
    background-image: url(../icons/ico_btnset_arrow_white_sm.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2.4rem
}


.see-more {
  margin-left: 1rem;             /* 제목과의 간격 */
  color: #fff;                   /* 글자색 */
  background: rgba(50, 50, 50, 0.6); /* 반투명 회색 배경 */
  padding: 0.5rem 1rem;          /* 여백 */
  border-radius: 0.4rem;         /* 모서리 둥글게 */
  cursor: pointer;
  font-weight: bold;             /* 글자 두껍게 */
}



@media (max-width: 992px) {
    .basic-N33 {
        padding-top: 5rem;
        padding-bottom: 5rem
    }

    .basic-N33 .cardset+.cardset {
        width: 100%;
        margin-top: 0
    }

    .basic-N33 .cardset .cardset-body {
        padding: 2rem
    }

    .basic-N33 .cardset .cardset-figure,
    .basic-N33 .cardset+.cardset .cardset-figure {
        height: 48rem
    }

    .basic-N33 .cardset .btnset {
        width: 4rem;
        height: 4rem
    }
}
/* basic-N33 [PkM75YP0Bf] */
.cardset {
    margin-bottom: 20px
}

.cardset-inner {
    display: block;
    text-decoration: none;
    color: inherit
}

.cardset-figure {
    position: relative;
    margin: 0
}

.cardset-img {
    display: block;
    width: 100%;
    height: auto
}

.cardset-figure::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0);
    transition: background 0.3s ease;
    pointer-events: none
}

.cardset-inner:hover .cardset-figure::after {
    background: rgba(255, 255, 255, 0.5)
}

.cardset-body {
    padding: 10px 0
}
/* basic-N33 [PkM75YP0Bf] */
.basic-N33[id='PkM75YP0Bf'] .cardset .cardset-figure {
    position: relative
}
/* basic-N4 */
.basic-N4 {
    position: relative;
    background: #111;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    overflow: hidden
}

.basic-N4 .footer-top {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 1.6rem
}

.basic-N4 .footer-logo {
    text-align: center;
    margin-bottom: 0
}

.basic-N4 .footer-logo img {
    height: 3.3rem;
    object-fit: contain
}

.basic-N4 .footer-menulist {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--fs-p2)
}

.basic-N4 .footer-menulink a {
    padding-right: 1.2rem;
    color: var(--white)
}

.basic-N4 .footer-menulink+.footer-menulink a {
    padding-left: 1.2rem
}

.basic-N4 .footer-menulink {
    position: relative
}

.basic-N4 .footer-menulink+.footer-menulink::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 1.4rem;
    background: rgba(var(--white-rgb), 0.1)
}

.basic-N4 .footer-snslist {
    display: flex;
    align-items: center
}

.basic-N4 .footer-snsitem+.footer-snsitem {
    margin-left: 0.8rem
}

.basic-N4 .footer-snslink {
    width: 3.6rem;
    height: 3.6rem;
    padding: 0.6rem
}

.basic-N4 .footer-snslink img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top
}

.basic-N4 .footer-bottom {
    padding-top: 2.4rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1)
}

.basic-N4 .footer-txt {
    display: flex;
    justify-content: center
}

.basic-N4 .footer-txt+.footer-txt {
    margin-top: 0.3rem
}

.basic-N4 .footer-txt p,
.basic-N4 .footer-txt span {
    margin-bottom: 0;
    color: var(--text-color3)
}

.basic-N4 .footer-txt p+p {
    margin-left: 0.8rem
}

.basic-N4 .footer-txt p span+span {
    margin-left: 0.8rem
}

.basic-N4 .info-area {
    overflow-y: auto
}

.basic-N4 .info-group+.info-group {
    margin-top: 2.4rem
}

.basic-N4 .info-group strong {
    padding-bottom: 1.2rem;
    display: block
}

.basic-N4 .info-desc {
    max-height: 20.7rem;
    padding: 1.6rem;
    background: #f8f8fa;
    border-radius: 1.6rem;
    overflow-y: auto;
    scrollbar-width: none
}

.basic-N4 .info-desc p.fw-medium {
    font-weight: var(--fw-medium)
}

.basic-N4 .info-desc .mtb {
    margin: 2.4rem 0
}

.basic-N4 .info-desc em {
    font-style: normal;
    font-weight: 600;
    margin: 2.4rem 0 1rem;
    position: relative;
    display: flex;
    align-items: center
}

.basic-N4 .info-list em::before {
    content: "";
    width: 0.4rem;
    height: 0.4rem;
    background: var(--black);
    border-radius: 50%;
    margin-right: 0.8rem
}

.basic-N4 .info-list p {
    padding-left: 1.2rem
}

@media (max-width: 992px) {
    .basic-N4 {
        padding-top: 4rem;
        padding-bottom: 4rem
    }

    .basic-N4 .footer-top {
        margin-bottom: 0;
        flex-direction: column;
        align-items: flex-start
    }

    .basic-N4 .footer-logo a {
        height: 2.6rem
    }

    .basic-N4 .footer-menulist {
        justify-content: flex-start;
        position: relative;
        left: 0;
        transform: translate(0);
        margin-top: 1.3rem
    }

    .basic-N4 .footer-menulink a {
        padding-right: 0.8rem
    }

    .basic-N4 .footer-menulink+.footer-menulink a {
        padding-left: 0.8rem
    }

    .basic-N4 .footer-snslist {
        margin: 2.4rem 0 1.6rem 0;
        justify-content: center
    }

    .basic-N4 .footer-bottom {
        text-align: left
    }

    .basic-N4 .footer-txt {
        flex-direction: column
    }

    .basic-N4 .footer-txt p+p {
        margin-left: 0
    }

    .basic-N4 .footer-txt+.footer-txt {
        margin-top: 0.6rem
    }
}

@media (max-width: 375px) {
    .basic-N4 .footer-menulist {
        justify-content: flex-start;
        overflow-x: auto
    }

    .basic-N4 .footer-menulink {
        flex-shrink: 0
    }
}
/* basic-N34 */
.basic-N34 {
    position: relative;
    padding-top: 8rem;
    padding-bottom: 8rem;
    overflow: hidden
}

.basic-N34 .textset {
    margin-bottom: 0
}

.basic-N34 .textset .textset-tit+.textset-desc {
    margin-top: 0.8rem
}

.basic-N34 .textset .textset-desc {
    color: var(--text-color3)
}

@media (max-width: 992px) {
    .basic-N34 {
        padding-top: 5rem;
        padding-bottom: 5rem
    }
}
/* basic-N35 */
.basic-N35 {
    position: relative;
    padding-top: 8rem;
    padding-bottom: 8rem;
    overflow: hidden
}

.basic-N35 .img {
    width: 100%;
    object-fit: contain
}

.basic-N35 .img-mobile {
    display: none
}

.basic-N35 .cardset+.cardset {
    margin-top: 10rem
}

.basic-N35 .cardset .cardset-figure {
    height: 60rem;
    border-radius: 2rem;
    overflow: hidden;
    background-color: #1E1E1E
}

.basic-N35 .cardset .cardset-figure-news {
    height: 60rem;
    border-radius: 2rem;
    overflow: hidden;
    background-color: white
}

.basic-N35 .cardset .cardset-figure img {
    width: 100%;
    height: 100%;
    object-fit: contain
}

.basic-N35 .cardset .cardset-figure-video {
    height: 40rem;
    min-height: 50rem;
    max-height: 70rem;
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
    background-color: black
}

.basic-N35 .cardset .cardset-figure-video img {
    width: 100%;
    height: 100%;
    object-fit: contain
}

.basic-N35 .cardset+.cardset .cardset-figure {
    height: 60rem
}

.basic-N35 .cardset .cardset-body {
    padding: 0
}

.basic-N35 .cardset .cardset-body+.cardset-figure {
    margin-top: 4rem
}

.basic-N35 .cardset .cardset-tit+.cardset-desc {
    margin-top: 2rem
}

.basic-N35 .cardset .cardset-desc {
    display: block;
    color: var(--text-color3)
}

.basic-N35 .cardset-figure-video {
    position: relative
}

.basic-N35 .cardset-figure-video .videoset-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    width: 80px;
    height: 80px
}

.basic-N35 .cardset-figure-video .videoset-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain
}

.videoset-modal {
    display: flex;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center
}

.videoset-content {
    position: relative;
    width: 80%;
    max-width: 800px;
    background: #000
}

.videoset-content iframe {
    width: 100%;
    height: 450px
}

.videoset-close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer
}

@media (max-width: 992px) {
    .basic-N35 {
        padding-top: 5rem;
        padding-bottom: 5rem
    }

    .basic-N35 .img-pc {
        display: none
    }

    .basic-N35 .img-mobile {
        display: block
    }

    .basic-N35 .cardset+.cardset {
        margin-top: 8rem
    }

    .basic-N35 .cardset .cardset-figure {
        height: 60rem
    }

    .basic-N35 .cardset .cardset-figure img {
        object-fit: contain
    }
}

@media (max-width: 576px) {
    .basic-N35 .cardset .cardset-desc br {
        display: none
    }
}
/* basic-N36 */
.basic-N36 {
    position: relative;
    padding-top: 8rem;
    padding-bottom: 8rem;
    overflow: hidden
}

.basic-N36 .cardset {
    border-radius: 2rem;
    overflow: hidden
}

.basic-N36 .cardset .cardset-figure {
    height: 32rem
}

.basic-N36 .cardset .cardset-cont .cardset-tit+.cardset-desc {
    margin-top: 2.4rem;
    margin-bottom: 0;
    padding-top: 0;
    border-top: 0
}

.basic-N36 .cardset .cardset-cont .cardset-desc {
    display: block;
    color: var(--text-color3)
}

.basic-N36 .textset {
    margin-bottom: 4rem
}

@media (max-width: 992px) {
    .basic-N36 {
        padding-top: 5rem;
        padding-bottom: 5rem
    }
}

@media (max-width: 576px) {
    .basic-N36 .cardset-desc br {
        display: none
    }
}
